.Test {

    // Card in the middle of the page

    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 50px;

    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }


}